
html, body {
    height: 100%;
}

h1, p {
    margin: 0;
    padding: 5px;
    margin-bottom:5px;
}

header {
    display: block;
    background-color: #286af0;
    padding: 5px 0px;
  
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

.Imagen {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#pie {
    text-align: center;
}

section {
    background-color: #ccc;
    overflow: auto;
    float: right;
    padding: 5px;
    width: 79%;
    min-height: 450px;
}

aside {
    margin-top: 5px;
    float: left;
    border: red 2px solid;
    width: 300px;
}

footer {
    position: center;
    text-align: center;
    clear: both;
    color: white;
    background-color: #0c6ed9;
    padding: 5px;
    text-decoration: underline;
}
